/* raleway-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
:root {
  --main-text-color: #555555;
  --dark-bg-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --dark-bg-color: #191c26;
  --second-bg-color: #f7f7f7;
  --title-font: "Raleway", sans-serif;
  --grid-item: 2;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* tags */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
address {
  font-style: normal;
}
/* tools */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* general classes */
.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}
.flexbox {
  display: flex;
  justify-content: space-between;
}
.content-box {
  flex-basis: calc((100% - 30px) / 2);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}
.button {
  min-width: 160px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.menu {
  display: inline-flex;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-link {
}

.socials-list {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-color);
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-bg-text-color);
}
.logo {
  display: block;
}

.title {
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.title-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
}

.page-title {
  font-size: 72px;
  line-height: 1.18;
}

.section-title {
  font-size: 42px;
  line-height: 1.167;
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header .container {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 70px;
}
.header .button {
  margin-left: 40px;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.hero-content {
  width: calc(100% / 12 * 5);
  /* если стека некачественная и сложно посчитать, то через max-width */
  max-width: 500px;
}
.price-wrap {
  display: flex;
}
.price-list {
  flex-basis: 50%;
  padding: 30px 40px;
}
.price-item {
  display: flex;
  justify-content: space-between;
}
.benefits-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
  background-color: var(--second-bg-color);
}

.benefits-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}
.team {
  background-color: var(--second-bg-color);
}

.team-item {
  text-align: center;
  --grid-item: 3;
}

.team-member {
  font-size: 18px;
  line-height: 1.39;
  color: var(--title-color);
}

.team-member-position {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}
.gallery-item {
  --grid-item: 4;
}
.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}

.dark-bg .title,
.dark-bg .button {
  --title-color: #ffffff;
}

.dark-bg .title-label {
  --title-color: rgba(157, 164, 189, 0.6);
}
