.button {
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
  min-width: 160px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-color);
  background-color: transparent;
  transition: color var(--animation), background-color var(--animation);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.button--light {
  // --title-color: #ffffff;
  @extend %colorLight;
}

.button--disabled {
  color: grey;
  background-color: lightgray;
  border-color: grey;
}
