.social-icons {
  display: inline-flex;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
  transition: fill var(--animation);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--accent-color);
}
