.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.grid-item {
  /* flex-basis: calc(100% / var(--grid-item) - 30px); */
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-top: 30px;
  margin-left: 30px;
}
