.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.section--dark-bg {
  color: var(--section--dark-bg-text-color);
  background-color: var(--section--dark-bg-color);
}

.section__title {
  font-size: 42px;
  line-height: 1.167;
}
